* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1, h2 {
  font-size: 55px;
}

h3 {
  font-size: 40px;
}

.expand {
  background: #636363;
  margin-bottom: 80px;

  &-main {
    margin-bottom: 80px;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    background: url("../../tests/assets/images/main_img.jpg") no-repeat;
    background-size: cover;
    background-position: top;
    @media (max-width: 320px) {
      margin-bottom: 10px;
    }
  }
}

.user-button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  border: 2px solid #FFFFFF;
  width: 196px;
  color: #444343;

  &:hover {
    background: #E0E0E0;
  }


  &_m {
    color: #FFFFFF;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0.24);

    &:hover {
      background: #000000;
      color: white;
    }
  }

  &_b:hover {
    border: 2px solid rgba(0, 0, 0, 0.82);
  }

  &_n {
    color: #FFFFFF;
    margin-right: 5px;
    background: #B5B5B5;
    @media (max-width: 320px) {
      display: none;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      color: white;
    }

  }

  &_w {
    color: #686868;

    &:hover {
      color: #686868;
    }
  }

  &_a {
    color: #ffffff;
    background: #B5B5B5;
    @media (min-width: 321px) and (max-width: 4000px) {
      display: none;
    }
  }

  &_r {
    width: 340px;
    height: 65px;
    font-size: 23px;
    color: #FFFFFF;
    background: #FF6E6E;
    border-radius: 7px;
  }

  &_s {
    width: 250px;
    height: 50px;
    font-size: 23px;
    color: #FFFFFF;
    background: #FF6E6E;
    border-radius: 7px;
  }

}

.modal-window {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  &__title {
    background: #FF6E6E;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > h2 {
      font-size: 45px;
      margin: 0;
      color: #ffffff;
      font-family: 'Akronim', cursive;
    }
  }


  &-field {
    width: 196px;
    height: 40px;
  }

  &__form {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & > input {
      width: 250px;
      padding: 20px;
      margin: 15px;
      color: #6B6A6A;
      font-size: 17px;
      line-height: 104.6%;
      border: 1px solid rgba(0, 0, 0, 0.57);
      border-radius: 5px;
      outline: none;
    }


    & > p {
      margin: 0;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  &-top {
    padding: 0 130px;
    height: 104px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    @media (max-width: 1025px) {
      padding: 0 40px;
    }
    @media (max-width: 320px) {
      padding: 0;
    }

    & > nav {
      margin-right: 10px;
    }

    & > div {
      padding-top: 50px;
      @media (max-width: 320px) {
        padding-top: 10px;
      }
    }


    &__logo {
      font-family: 'Akronim', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 49px;
      line-height: 56px;

      @media (max-width: 375px) {
        margin-right: 180px;
      }
      @media (max-width: 320px) {
        margin-right: 100px;
      }

      & > a {
        color: #DBD9D9;
        text-decoration: none;
      }
    }

  }

  &-text {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    @media (max-width: 320px) {
      margin-bottom: 15px;
    }


    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 31px;

      & > h1 {
        margin: 0;
        color: #fff;
        font-family: 'Forum', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 61px;
        line-height: 67px;
        @media (max-width: 450px) {
          font-size: 41px;
        }
      }

      & > span {
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 30px;
        @media (max-width: 450px) {
          font-size: 18px;
        }
      }
    }

    &__buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @media (max-width: 450px) {
        flex-direction: column;
      }

      & > button {
        margin-bottom: 5px;
        @media (max-width: 425px) {
          margin-right: 0;

        }
      }
    }
  }
}

.header_page {
  height: 105px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;

  &-logo {
    position: absolute;
    left: 90px;
    top: 1px;
    color: rgba(219, 217, 217, 0.17);
    font-family: 'Akronim', cursive;
    font-size: 129px;
    line-height: 147px;
  }

  &-text {
    position: relative;
    padding: 30px 0 12px 190px;


    & > span {
      font-family: 'Forum', cursive;
      font-size: 19px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.96);
      position: absolute;
      top: 30px;
      left: 235px;
    }

    & > h1 {
      font-family: 'Forum', cursive;
      color: #FFFFFF;
      font-size: 54px;
      margin: 0;
    }

  }
}

.main-menu {
  @media (max-width: 840px) {
    display: none;
  }

  & > ul {
    display: flex;
    list-style-type: none;


    & > li {
      cursor: pointer;

      & > a {
        text-decoration: none;
        color: #DBD9D9;

        &:hover {
          color: #fff;
        }
      }
    }


    & > li:not(:first-child):before {
      content: '';
      width: 1px;
      height: 20px;
      border: 1px solid #3E3E3E;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &_w {
    padding: 45px 90px 0;

    & > ul > li:not(:first-child):before {
      border: 1px solid #929292;
    }
  }
}

.dropdown-list {
  border-radius: 3px;

  & > ul {
    color: #fff;
    list-style-type: disc;
    padding: 0 0 0 20px;
    margin: 0;


    & > li > a {
      color: #FFFFFF;
      font-size: 18px;
      text-decoration: none;
      cursor: pointer;
    }

    & > li > a:hover {
      color: #000000;
    }
  }
}

.offcanvas-menu {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;

  & > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;

    & > li {
      cursor: pointer;

      & > a {
        text-decoration: none;
        color: #DBD9D9;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.offcanvas-trigger {
  @media (max-width: 5000px) and (min-width: 840px) {
    display: none;
  }
  @media (max-width: 320px) {
  }

  & > a {
    color: #DBD9D9;
    text-decoration: none;
  }

}

.main {
  margin-bottom: 150px;
  @media (max-width: 1250px) {
    margin-bottom: 80px;
  }
  @media (max-width: 320px) {
    margin-bottom: 50px;
  }
}

.info {
  padding: 0 130px;
  margin-bottom: 40px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  font-family: 'PT Sans', sans-serif;
  @media (max-width: 1250px) {
    padding: 0 40px;
  }
  @media (max-width: 320px) {
    padding: 0 5px;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  &__article {
    padding-right: 100px;
    font-size: 25px;
    line-height: 137.6%;
    @media (max-width: 1120px) {
      font-size: 18px;
      margin-right: 0;
    }
    @media (max-width: 840px) {
      font-size: 15px;
      margin: 15px;

    }
    @media (max-width: 640px) {
      font-size: 14px;
    }
    @media (max-width: 320px) {
      margin: 0;
      padding: 0 20px;
      text-align: left;
    }


    & > article > h2 {
      margin-bottom: 0;
      margin-top: 0;
      line-height: 104.6%;
      @media (max-width: 1250px) {
        font-size: 35px;
      }
      @media (max-width: 320px) {
        font-size: 19px;
        line-height: 108.6%;

      }
    }

    & > article > p {
      @media (max-width: 1250px) {
        font-size: 25px;
      }
      @media (max-width: 320px) {
        font-size: 14px;
        line-height: 131.6%;
      }
    }
  }

  & > img {
    border-radius: 12px;
    object-fit: cover;
    @media (max-width: 1250px) {
      width: 300px;
    }
    @media (max-width: 320px) {
      width: 245px;
      height: 260px;
      align-self: center;
      margin-bottom: 15px;
    }
  }
}

.hidden-p {
  @media (max-width: 320px) {
    display: none;
  }
}

.application {
  padding: 0 145px;
  text-align: center;
  color: #444343;

  &-contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &-city {
      font-size: 27px;
      line-height: 104.6%;
      color: #949494;
      margin-bottom: 31px;

    }

    &-other {
      display: flex;
      justify-content: space-between;

      & > div > h4 > a {
        color: #444343;
        text-decoration: none;
      }
    }
  }

  & > hr {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &-field {
    & > h2 {
      margin-bottom: 30px;
    }

    &-text {
      margin-bottom: 60px;
      padding: 0 210px;

      & > p {
        margin: 0;
      }
    }

    &-form {
      padding: 0 25px;

      & > form > button {
        margin-bottom: 180px;
      }
    }
  }

  &-form {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    & > div {
      width: 500px;
      flex-direction: column;
    }

    & > div > input {
      width: 450px;
      height: 50px;
      padding: 20px;
      margin: 15px;
      color: #6B6A6A;
      font-size: 17px;
      line-height: 104.6%;
      border: 1px solid rgba(0, 0, 0, 0.57);
      border-radius: 12px;
      outline: none;
    }
  }

  &-textarea {
    resize: none;
    width: 450px;
    height: 202px;
    padding: 20px;
    margin: 15px;
    color: #6B6A6A;
    font-size: 17px;
    line-height: 104.6%;
    border: 1px solid rgba(0, 0, 0, 0.57);
    border-radius: 12px;
    outline: none;
  }
}

.price {
  text-align: center;
  color: #444343;
  padding: 0 100px 0 40px;

  & > h2 {
    margin-bottom: 84px;
  }

  & > p {
    font-size: 25px;
    margin: 0 200px;
  }

  &__list {
    display: flex;
    margin-bottom: 45px;
    justify-content: space-between;
    align-items: baseline;
  }

  &__item {
    display: flex;
    flex-direction: column;

    & > img {
      border-radius: 250px;
      margin-bottom: 20px;
      width: 353px;
      height: fit-content;
    }

    & > button {
      height: 60px;
      width: 355px;
    }
  }

  &__test {
    flex-basis: 100%;
    width: 355px;
    padding: 30px 20px 20px 30px;
    margin-bottom: 15px;
    background: #EFEFEF;
    border-radius: 7px;

    & > h3 {
      padding-top: 30px;
      font-size: 36px;
    }

    & > h4 {
      font-size: 20px;
    }

    & > p {
      text-align: initial;
      font-size: 22px;
      line-height: 104.6%;
      padding: 5px 0;
    }
  }

}

.h4-bold {
  font-weight: bold;
}

.portfolio-block {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 0 40px;
  @media (max-width: 320px) {
    margin-bottom: 30px;
  }

  &:before {
    position: absolute;
    top: -90px;
    left: calc(~"40% - 44px");
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: #ffffff;
    transform: rotate(-45deg);
    @media (max-width: 1250px) {
      left: calc(~"40% - 42px");
    }
    @media (max-width: 320px) {
      top: -110px;
      left: calc(~"40% - 30px");
    }
  }

  &:after {
    position: absolute;
    top: 2100px;
    left: calc(~"40% - 44px");
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: #ffffff;
    transform: rotate(-45deg);
    @media (max-width: 1250px) {
      top: 1790px;
      left: calc(~"40% - 42px");
    }
    @media (max-width: 320px) {
      display: none;
    }
  }

  &__left {
    width: 40%;
    background: linear-gradient(-90deg, #F2F2F2 -1.83%, rgba(181, 181, 181, 0) 85.49%);
    @media (max-width: 320px) {
      width: 100%;
    }
  }

  &__right {
    width: 60%;
    background: linear-gradient(90.53deg, #B5B5B5 9.77%, rgba(181, 181, 181, 0) 99.87%);
    @media (max-width: 320px) {
      display: none;
    }
  }

  &-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 180px;
    @media (max-width: 1250px) {
      justify-content: space-around;
      padding-top: 40px;
    }
    @media (max-width: 320px) {
      padding-top: 30px;
    }

    &_r {
      display: flex;
      flex-direction: column;
      padding-top: 80px;
      padding-right: 100px;
      @media (max-width: 1250px) {
        padding-right: 0;
        padding-top: 40px;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    padding: 0 50px 0 80px;
    margin-bottom: 80px;
    @media (max-width: 1250px) {

      margin-bottom: 40px;
      padding: 0 50px 0 0;
    }
    @media (max-width: 320px) {
      width: 100%;
      margin-bottom: 25px;
    }


    &_r {
      width: 100%;
      margin-bottom: 80px;
      @media (max-width: 1250px) {
        &:last-child {
          margin-bottom: 0;
        }

        margin-bottom: 40px;
      }
      @media (max-width: 320px) {
        display: none;
      }
    }

    & > img {
      display: none;
      @media ( max-width: 320px) {
        margin-bottom: 15px;
        display: block;
      }
    }


    &_b {
      padding-bottom: 4%;
      @media (max-width: 320px) {
        padding-bottom: 30px;
      }
    }

    & > hr {
      width: 370px;
      align-self: center;
      margin: 0;
      @media (max-width: 1250px) {
        width: 280px;
      }
      @media (max-width: 320px) {
        display: none;
      }
    }

    & > h4 {
      font-size: 33px;
      font-family: 'PT Sans', sans-serif;
      color: #000;
      @media (max-width: 1250px) {
        font-size: 20px;
      }

      @media (max-width: 320px) {
        line-height: 104.6%;;
        margin-bottom: 15px;
      }
    }

    & > p {
      font-size: 25px;
      line-height: 104.6%;

      @media (max-width: 1250px) {
        font-size: 15px;
      }
      @media (max-width: 320px) {
        font-size: 14px;
        line-height: 104.6%;
        padding: 0;
        margin: 0;
      }
    }
  }

  &-gallery {
    display: flex;
    justify-content: flex-end;
    width: 110%;
    height: 260px;
    margin-left: -10%;

    &__image {
      width: 200px;
      height: 260px;
      flex-basis: 25%;
      margin-right: 3%;

      &_l {
        flex-basis: 40%;
      }
    }

    &__image:last-child {
      margin-right: 0;
    }
  }

}

.image__link {
  overflow: hidden;
  display: block;
  height: 100%;
  @media (max-width: 1250px) {
    height: 80%;
  }

  & > img {
    height: 100%;
    object-fit: cover;
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  align-items: center;
  padding: 0 90px;

  &-text {
    text-align: center;

    & > h2 {
      margin-bottom: 40px;
    }

    & > h4 {
      margin-bottom: 80px;
    }
  }

  &-gallery {
    display: flex;
    flex-direction: column;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item {
      flex-basis: 30%;

      & > img {
        object-fit: cover;
        width: 360px;
        height: 535px;
      }
    }
  }
}

.gallery__item {
  width: 340px;
  height: 303px;
  border-radius: 7px;


  &_t {
    margin: 15px 0 15px 15px;
  }

  &_b {
    margin: 0 0 15px 15px;
  }

  &_r {
    margin: 15px 15px 15px 15px;
  }

  &_c {
    margin: 0 15px 15px 15px;
  }

  & > img {
    height: 100%;
    width: 100%;

    &:hover {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) 0%, rgba(255, 255, 255, 0) 48.15%);
    }
  }

}

.favorite {
  background-color: #FFFFFF;
  overflow: hidden;
  margin-bottom: 140px;
  @media (max-width: 1250px) {
    margin-bottom: 80px;
  }
  @media (max-width: 768px) {
    padding-top: 0;
  }
  @media (max-width: 320px) {
    display: none;
  }


  &-header {
    text-align: center;
    margin-bottom: 80px;
    @media (max-width: 1250px) {
      margin-bottom: 40px;
    }
    @media (max-width: 435px) {
      margin-top: 0;
      margin-bottom: 0;
    }

    & > h2 {
      @media (max-width: 1250px) {
        font-size: 45px;
      }
      @media (max-width: 760px) {
        font-size: 25px;
      }
      @media (max-width: 640px) {
        font-size: 20px;
      }
    }

  }

  &-slider {
    width: 100%;

    & img {
      width: 100%
    }

    & > div > a {
      background: rgba(255, 255, 255, 0.6);
      width: 77px;
      height: 77px;
      border-radius: 60px;
      display: flex;
      justify-content: center;
      margin-left: 7%;
      margin-right: 7%;
      @media (max-width: 425px) {
        display: none;
      }
    }
  }
}

.works {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-info {
    padding: 0 232px;
    margin-bottom: 80px;
    text-align: center;
    @media (max-width: 1250px) {
      margin-bottom: 40px;
    }

    @media (max-width: 320px) {
      margin-bottom: 10px;
      padding: 0 40px;
    }

    & > h2 {
      color: #000000;
      margin: 0;
      @media (max-width: 1250px) {
        font-size: 45px;
      }
      @media (max-width: 320px) {
        font-size: 18px;
      }
    }

    & > h3 {
      color: #000000;
      margin: 0;
      @media (max-width: 1250px) {
        & > h3 {
          font-size: 35px;
        }

        @media (max-width: 320px) {
          font-size: 18px;
        }
      }
    }

  }
}

&-gallery {
  width: 100%;
  display: flex;
  justify-content: center;

  & > img {
    width: inherit;
  }
}


.footer {
  text-align: center;
  background: #B5B5B5;


  &-text {
    padding: 90px 440px 0;

    @media (max-width: 1250px) {
      padding: 40px 240px 0;
    }
    @media (max-width: 768px) {
      padding: 20px 180px 0;
    }
    @media (max-width: 320px) {
      padding: 30px 40px;
    }


    &__title {
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      margin-bottom: 34px;
      @media (max-width: 320px) {
        margin-bottom: 20px;
      }

      & > h2 {
        color: #FFFFFF;
        font-size: 25px;
        text-transform: uppercase;
        @media (max-width: 760px) {
          font-size: 20px;
        }
        @media (max-width: 320px) {
          font-size: 24px;
          line-height: 31px;
          margin-bottom: 20px;
        }
      }

      & > span {
        font-size: 20px;
        @media (max-width: 320px) {
          font-size: 20px;
          line-height: 102.4%;
        }
      }
    }

    &__buttons {
      margin-bottom: 80px;
      @media (max-width: 1250px) {
        margin-bottom: 40px;
      }

      & > button {
        @media (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 5px;
        }
      }
    }


  }
}

.modal-window {
  & > div > h2 {
    font-family: 'Akronim', cursive;
  }


}

.social {
  margin-bottom: 20px;
  @media (max-width: 320px) {
    display: none;
  }

  & > a > img {
    margin-right: 10px;
    @media (max-width: 425px) {
      width: 30px;
    }
  }
}

.copyright {
  padding: 25px 227px;
  background: #DDDADA;
  color: #444343;
  display: flex;
  justify-content: center;
  @media (max-width: 768px) {
    padding: 5px 27px 5px;
    font-size: 13px;
  }
  @media (max-width: 320px) {
    flex-direction: column;
    padding: 10px 50px;
  }

  & > p {
    margin: 0;
    @media (max-width: 425px) {
      font-size: 13px;
    }
    @media (max-width: 320px) {
      font-size: 12px;
      line-height: 115.6%;
    }
  }

  & > a {
    text-decoration: none;
    margin-left: 5px;
    color: #444343;
  }
}









